@model OnlineTourismManagement.Models.PackageTypeViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm("Update", "PackageType"))
{
    @Html.HiddenFor(Model => Model.PackageTypeId)

    <div style="text-align:center">
        @Html.LabelFor(Model => Model.PackageTypeName)
        <div>@Html.EditorFor(Model => Model.PackageTypeName) </div>
        <br />
        <div>
            @Html.ActionLink("Cancel", "ViewPackageType")

            &nbsp; &nbsp;<input type="submit" value="Update" />
        </div>
        </div>
}