@model IEnumerable<OnlineTourismManagement.Entity.Package>

@{
    ViewBag.Title = "ViewDetails";
}

    <div>
        @foreach (OnlineTourismManagement.Entity.Package item in Model)
        {
            <h1>@item.PackageName</h1>
            <iframe src="https://www.youtube.com/embed/JMHRLjPg_rU" width="900" height="500" @*frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture*@></iframe>

        }
       
    </div>