.image {
    background-image: url('Images/menuImage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    float:right;
    width:70%;
}
body {
    height: 1140px;
    resize: both;
    border-color: lightgray;
    border-style: solid;
}
.main{
    float:left;
    width:40%;
}
.error {
    color: red;
}
.content{
    color:crimson;
    text-align:center;
}
.heading{
    color:darkolivegreen;
    text-align:center;
}
header {
    height: 50px;
    width: 100%;
    background-color: yellowgreen;
}

.link{
    text-align:right;
}

footer {
    text-align: center;
    background-color: yellowgreen;
}

.homeHead {
    font-style:italic;
    font-family:Corbel;
    text-align:center;
}

.homeContent {
    font-style:italic;
    font-size:150%;
    text-align:center;
}