.image {
    background-image:url(../Images/Home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height:1000px;
    width:1500px;
}
.signInImage{
    background-image:url(../Images/SignIn.jpg);
}
.design {
    float: right;
    width: 50%;
    /*border:solid;*/
}
body{
    /*background-color:antiquewhite;*/
    height:1140px;
    display:block;
}
.phone {
    position: absolute;
    left: 1200px;
    margin-top: 30px;
    font-size: large;
    font-family: monospace;
}
.signin {
    float: left;
    width: 40%;
}
.SignInimage{
    height:5000px;
    width:500px;
}
.main{
    float:left;
    width:40%;
}
.error {
    color: red;
}
.content{
    color:crimson;
    text-align:center;
}
.heading{
    color:darkolivegreen;
    text-align:center;
}
header {
    height: 50px;
    width: 100%;
    /*background-color: yellowgreen;*/
}

.link {
    text-align: end;
    background-color: #9CCC65;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: yellowgreen;
}

.homeHead {
    font-style:italic;
    font-family:Corbel;
    text-align:center;
}

.homeContent {
    font-style:italic;
    font-size:150%;
    text-align:center;
    color:aqua;
}

.alignment{
    text-align:center;
}

.decoration{
    font-size:20px;
}

.font {
    font-style: italic;
    /*text-decoration: none;
    margin: 4px 2px;
    color: white;
    background-color: #9CCC65;
    text-align: center;
    padding: 15px 32px;*/
}

.menu {
    font-size:x-large;
    text-decoration: blink;
    padding: 10px 17px 10px 12px;
}
.button {
    color: white;
    font-weight:700;
    padding: 10px 32px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    background-color: #9CCC65;
}

.text_MailId {
    width:300px;
    height:30px;
    padding: 5px 12px;
    font-size:1rem;
    position:absolute;
    left:950px;
}
.text_Password {
    width: 300px;
    height: 30px;
    padding: 5px 12px;
    font-size: 1rem;
    position: absolute;
    left: 950px;
    margin-top:100px;
}
.username {
    position: absolute;
    left: 1300px;
    margin-top: 10px;
}
.password {
    position: absolute;
    left: 1300px;
    margin-top: 110px;
}
.label_username {
    font-family: Constantia;
    position: absolute;
    left: 800px;
    margin-top: 10px;
    font-size: larger;
}
.label_password {
    font-family: Constantia;
    position: absolute;
    left: 800px;
    margin-top: 110px;
    font-size: larger;
}
#signin_button {
    position: absolute;
    left: 1000px;
    margin-top: 200px;
}
.account {
    position: absolute;
    left: 950px;
    margin-top: 300px;
    font-style: italic;
    font-size: larger;
}
.signUpForm {
    width: 200px;
    height: 10px;
    padding: 15px 25px;
    font-size: 0.8rem;
}

.table{
    width:1150px;
}

.redirectLink{
    color:blue;
    font-size:20px;
}

.linkColor{
    color:blue;
}

#add_package {
    position: absolute;
    left: 600px;
}

#signin_table {
    position: absolute;
    left: 800px;
}

#signup_table {
    position: absolute;
    left: 800px;
}

.input {
    border: 1px solid #ccc !important;
    border-radius: 8px;
    display: block;
    
}

.textbox{
    padding:12px 25px;
    width:300px;
}

.label{
    font-size:large;
    font-family:Constantia;
}

.day {
    background-color: #9e9e9e;
}

.add_itinerary{
    position:absolute;
    left:600px;
}