.image {
    background-image:url(..\\Images\\201612711253290.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /*height:1000px;
    width:1500px;*/
    max-width:1500px;
    /*position:relative;*/
}
.signIn-image {
    background-image: url(../Images/login-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height:1000px;
}
.signInImage {
    background-image: url(../Images/SignIn.jpg);
    height: 500px;
    width: 500px;
    border: solid;
    position: relative;
    left: 100px;
}
.signUpImage {
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 1000px;
}
.signIn-position {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.signIn-error{
    margin-right:50px;
}
.design {
    /*float: right;
    width: 50%;*/
    /*border:solid;*/
}
.center {
    margin: auto;
    width: 20%;
}
body{
    /*background-color:antiquewhite;*/
    height:1140px;
    /*display:block;*/
    /*width:1500px;
    max-width:1500px;*/
}
.phone {
    position: absolute;
    left: 1200px;
    margin-top: 30px;
    font-size: large;
    font-family: monospace;
    
}
.signin {
    /*background-image :Url(../Images/Signup.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    /*width: 40%;*/
}
.SignInimage {
    height: 5000px;
    width: 500px;
    
}
.main{
    float:left;
    width:40%;
}
.error {
    color: red;
    font-size:15px;
}
.content{
    color:crimson;
    text-align:center;
}
.heading{
    color:darkolivegreen;
    text-align:center;
}
header {
    height: 50px;
    /*width: auto;*/
    /*max-width:1500px;*/
   position:relative;
    /*background-color: yellowgreen;*/
}

.link {
    text-align: end;
    background-color: #0dc7e5;
    padding: 10px;
    /*width:1500px;
    max-width:1500px;*/
    position: relative;
}

footer {
    text-align: center;
    background-color: yellowgreen;
}

.homeHead {
    font-style:italic;
    font-family:Corbel;
    text-align:center;
}

.homeContent {
    font-style:italic;
    font-size:150%;
    text-align:center;
    color:aqua;
}

.alignment{
    text-align:center;
}

.decoration{
    font-size:20px;
}

.font {
    font-style: italic;
    
    /*text-decoration: none;
    margin: 4px 2px;
    color: white;
    background-color: #9CCC65;
    text-align: center;
    padding: 15px 32px;*/
}

.menu {
    font-size:x-large;
    text-decoration: blink;
    padding: 10px 17px 10px 12px;
    color:white;
    font-weight:bolder;
}
.button {
    color: white;
    font-weight:700;
    padding: 10px 32px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
    background-color: #9CCC65;
    border-radius:3px;
}

.signIn-textbox {
    max-width: 600px;
    height: 30px;
    padding: 5px 12px;
    font-size: 1rem;
    margin-bottom: 50px;
    border-radius: 5px;
    margin-left: 50px;
}
.text_Password {
    width: 300px;
    height: 30px;
    padding: 5px 12px;
    font-size: 1rem;
    position: absolute;
    left: 950px;
    margin-top:100px;
}
.username {
    position: absolute;
    left: 1300px;
    margin-top: 10px;
}
.password {
    position: absolute;
    left: 1300px;
    margin-top: 110px;
}
.signIn-label {
    /*font-family: Constantia;
    position: absolute;
    left: 800px;
    margin-top: 10px;
    font-size: larger;*/
    font-family:Constantia;
    font-size:larger;
}
.label {
    font-family: Constantia;
    font-size:20px;
    /*color:white;*/
}
.label_password {
    font-family: Constantia;
    position: absolute;
    left: 800px;
    margin-top: 110px;
    font-size: larger;
}
#signin_button {
    position: absolute;
    left: 1000px;
    margin-top: 200px;
}
.account {
    /*position: absolute;
    left: 950px;*/
    margin-top: 50px;
    font-style: italic;
    font-size: larger;
}
.signUpForm {
    width: 200px;
    height: 10px;
    padding: 15px 25px;
    font-size: 0.8rem;
}

.table{
    width:1150px;
}

.redirectLink{
    color:blue;
    font-size:20px;
}

.linkColor {
    color: blue;
    margin-left: 30px;
    font-size: larger;
    font-family: cursive;
}

#add_package {
    position: absolute;
    left: 600px;
}

#signin_table {
    position: absolute;
    left: 800px;
}

#signup_table {
    position: absolute;
    left: 500px;
}

.input {
    border: 1px solid #ccc !important;
    border-radius: 8px;
    display: block;
    
}

.textbox{
    padding:12px 25px;
    width:300px;
}

/*.label{
    font-size:large;
    font-family:Constantia;
}*/

.day {
    background-color: #9e9e9e;
}

.add_itinerary{
    position:absolute;
    left:600px;
}


.view-package {
    width: 1075px;
    margin: 0 auto;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
}
.view-package:before{
    content:" ";
    display:table;
}
.view-package:after{
    content:" ";
    display:table;
}
section{
    float:right;
    width:90%;
    display:block;
}
.package{
    margin-bottom:20px;
}
.package-container{
   max-width:990px;
   width:100%;
   clear:both;
   box-sizing:border-box;
   padding: 0 15px;
}

.image-position{
   border-radius:5px;
   height:250px;
   float:left;
   background-position:50%;
   margin-right:30px;
   width:300px;
   position:relative;
}

.package-price{
    float:left;
    width:200px;
    padding:20px;
    height:85%;
    min-height:124px;
    border-radius:5px;

}

.package-details {
    float: left;
    position: relative;
    width: 745px;
    height: 100%;
    background-color: lavenderblush;
}

.package-details:before{
    content:" ";
    display:table;
}

.package-details:after{
    content:" ";
    display:table;
}

.package-naming{
    float:left;
    width:475px;
    padding:20px 0;
    position:relative;
    min-height:230px;
}

.package-name {
    font-family: 'Lucida Sans Regular';
    font-size: 20px;
    font-weight: bold;
    color: darkslategrey;
    text-decoration:blink;
}

.price {
    font-family: Rubik Regular;
    font-weight: bold;
    font-size: 25px;
    box-sizing: border-box;
    height: 10px;
}

.type-position {
    border-radius: 5px;
    height: 350px;
    float: left;
    background-position: 50%;
    margin-right: 30px;
    max-width: 300px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
    position:relative;
    left:100px;
}

.type-image{
    margin-bottom:50px;
}

.details-position {
    position: relative;
    margin: auto;
    /*left:50px;*/
    max-width: 900px;
    padding: 20px;
    /*margin-left: 300px;*/
    /*border: solid;*/
    /*border-color: aquamarine;*/
}

.view-itinerary{
    max-width:900px;
    height:250px;
}

.itinerary-position {
    float: left;
    /*position: relative;*/
    max-width:900px;
    /*left: 30px;*/
}

.day-position {
    float: left;
    font-family: Constantia;
    font-size: x-large;
    font-weight: bold;
    background-color: #9e9e9e;
    border-radius:5px;
}

.itinerary-label {
    font-family: Constantia;
    font-size: large;
    font-weight: bold;
    margin-top: 30px;
    
}

.text-position{
    margin-left:50px;
    font-weight:normal;
}

.fa-angle-down{
    font-size:0.7em;
}

.itineray {
    position: relative;
    /*left: 200px;*/
    max-width: 1100px;
    margin: 0 auto;
    /*height: 250px;*/
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
   

}


.view-image {
    width:100%;
    height:auto;
}

.redirect-link {
    text-decoration: blink;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    /*/*margin-left: 50px;*/
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    background-color: whitesmoke;
}
.redirect-link >span{
    margin-left:50px;
}

.viewdetails-image {
    background-image: url(../Images/Nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Itinerary{
    padding:0;
}

@media screen and (min-width:1028px) {
    .signup_table {
        position:relative;
        left:450px;
        
    }}


