
@{
    ViewBag.Title = "Index";
}
    @*<link rel="stylesheet" type="text/css" href="~/styles/Styles.css" />*@
<h1 class="homeHead" >Welcome to Time to Tour</h1>

<p class="homeContent">Travel your own way..</p>

