@{
    Layout = "~/Views/Shared/_Menu.cshtml";
}
<div class="alignment">
    @Html.ActionLink("View package type", "ViewPackageType", "PackageType")
    @Html.ActionLink("View package", "ViewPackage", "Package")
</div>
<br />
<div>
    @RenderBody()
</div>